.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2ae89c;
  border-radius: 5px 5px 50px 50px;
  padding: 0px 30px;
  padding-top: 155px;
  padding-bottom: 30px;
}
.imgCategories {
  padding-bottom: -50px;
}
.textCategories {
  color: #252822;
  font-size: 500;
  font-weight: 20px;
  padding-top: 24px;
}
.butonSeeMore {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  gap: 10px;
  color: #424242;
}
.textSeeMoreCategories {
  font-weight: 600;
  font-size: 12px;
}
