#mainCart {
  display: flex;
  flex-direction: column;
  gap: 65px;
  align-items: center;
  max-width: 1822px;
  margin: 0 auto;
}

#mainCart h1.title {
  display: flex;
  gap: 6px;
  align-items: center;

  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  color: #275845;
}
#mainCart h1.title img {
  width: min-content;
  transform: rotate(-90deg);
}

#mainCart #cartContent {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 73px;
}

#mainCart #cartContent .itemsCepContainer #sectionCartItems {
  display: flex;
  flex-direction: column;
  gap: 34px;
  width: 100%;
  align-items: center;
}

#mainCart #cartContent .itemsCepContainer,
#mainCart #cartContent .cartSummaryButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

#mainCart #cartContent .cartSummaryButtonContainer {
  gap: 30px;
}
#mainCart #cartContent .cartSummaryButtonContainer button {
  background: #53b38d;
  border-radius: 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #f8f8f8;

  width: 315px;
  padding: 10px 30px;
}

@media screen and (min-width: 834px) {
  #mainCart #cartContent .itemsCepContainer {
    align-items: flex-start;
  }

  #mainCart #cartContent .cartSummaryButtonContainer button {
    width: 387px;
  }
}

@media screen and (min-width: 1250px) {
  #mainCart {
    align-items: flex-start;
  }
  #mainCart section.emptySection {
    text-align: left;
    padding: 161px 90px 0;
  }
  #mainCart #cartContent {
    flex-direction: row;
  }
  #mainCart #cartContent .itemsCepContainer #sectionCartItems {
    align-items: flex-start;
  }
  #mainCart #cartContent #recentViewContainer {
    width: min-content;
  }
  #mainCart #cartContent .itemsCepContainer {
    flex: 2;
    min-width: 600px;
    max-width: 800px;
  }
  #mainCart #cartContent .cartSummaryButtonContainer {
    flex: 1;
    max-width: 680px;
    align-items: flex-start;
  }
}
