#sectionCartItems {
  display: flex;
  flex-direction: column;
  gap: 34px;
  width: 100%;
  align-items: center;
}

@media screen and (min-width: 1250px) {
  #sectionCartItems {
    align-items: flex-start;
  }
}
