.reactModal {
  border: 1px solid rgb(204, 204, 204);
  background: #fafafa;
  overflow: auto;
  outline: none;
  position: absolute;
  inset: 0;
}
.modalContainer {
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
  gap: 30px;
}
.closeModalImg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.closeModalContainer {
  display: flex;

  justify-content: flex-end;
}
.closeAndTitleContainerModal {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.productTitleModalContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.howManyProductsContainer {
  display: flex;
  padding-top: 30px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
.circleLessModal,
.circlePlusModal {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.descriptionContainerModal,
.sellerContainerModal,
.colorContainerModal,
.brandContainerModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 60px;
  width: 100%;
  text-align: justify;
}
.productPriceContainerModal {
  display: flex;
  justify-content: center;
  padding-bottom: 65px;
}
.delEditModal {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  width: 100%;
}
.delModalContainer,
.editModalContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.delModal,
.editModal {
  width: 35px;
  height: 35px;
}
.delModalText {
  font-weight: 600;
  font-size: 20px;
  color: #f24e1e;
}
.editModalText {
  font-weight: 600;
  font-size: 20px;
  color: #53b38d;
}
.addCartButtonModalContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.addCartButtonModal {
  width: 100%;
  cursor: pointer;
  background-color: #53b38d;
  border-radius: 5px;
  color: #f8f8f8;
  font-weight: 600;
  font-size: 16px;
  height: 50px;
}
.productTitleModal {
  color: #252822;
  font-weight: 500;
  font-size: 20px;
}
.howManyProductstext {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
}
.titleModalH2 {
  color: #000000;
  font-weight: 600;
  font-size: 24px;
}
.productPriceModal {
  font-weight: 600;
  font-size: 36px;
  color: #275845;
}
.textPModal {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}
.productImg {
  cursor: pointer;
  background-size: cover;
  width: 315px;
  height: 311.99px;
  padding: 3px 2px;
  display: flex;
  gap: 3px;
  align-items: flex-end;
}
.modalPImg {
  background-color: #fafafa;
  color: #252822;
  font-weight: 700;
  font-size: 24px;
  width: 23px;
  height: 28px;
  padding: 1px;
}
.imgContainerModal {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 834px) {
  .closeAndTitleContainerModal {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: flex-start;
  }
  .closeModalImg {
    width: 20px;
    height: 20px;
  }
  .productTitleModalContainer {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .innerContainerModal {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 55px;
  }
  .buttonsModal {
    display: flex;
    justify-content: space-between;
  }

  .addCartButtonModalContainer {
    width: 300px;
  }
  .delEditModal {
    width: 320px;
  }
  .delModalText,
  .editModalText {
    font-size: 25px;
  }
  .delModal,
  .editModal {
    width: 40px;
    height: 40px;
  }
  .addCartButtonModal {
    font-size: 20px;
  }
  .howManyProductstext,
  .productTitleModal {
    font-size: 32px;
  }
  .howManyProductsContainer {
    display: flex;
    align-items: center;
  }
  .reactModal {
    position: absolute;
    inset: 5% 3%;
    border-radius: 20px;
  }
  .productSpec {
    display: flex;
    flex-direction: column;
  }
  .descriptionContainerModal,
  .sellerContainerModal,
  .colorContainerModal,
  .brandContainerModal,
  .productPriceContainerModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding-bottom: 60px;
    width: 100%;
  }
}

@media screen and (min-width: 1250px) {
  .addCartButtonModalContainer {
    width: 470px;
  }
  .delEditModal {
    width: 410px;
  }
  .closeModalImg {
    width: 30px;
    height: 30px;
  }
  .productTitleModal,
  .titleModalH2 {
    font-size: 36px;
  }
  .textPModal {
    font-size: 24px;
  }
  .productPriceModal {
    font-size: 48px;
  }
  .delModal,
  .editModal {
    width: 50px;
    height: 50px;
  }
  .delModalText,
  .editModalText {
    font-size: 32px;
  }
  .reactModal {
    position: absolute;
    inset: 3% 5%;
  }
  .productImg {
    width: 247px;
    height: 244px;
  }
  .innerContainerModal {
    gap: 160px;
  }
}
