footer {
  background-color: #f5f5dc;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5.5%;
  width: 100%;
  gap: 30px;
  padding-bottom: 30px;
}

.logoMenuSocialContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.navMenuFooter {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}

.colorNavMenuFooter {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
}

.socicalMediaLogosFooter {
  display: flex;
  gap: 35px;
}

.footerMessage {
  color: #252822;
  font-size: 12px;
  font-weight: 400;
}

@media (min-width: 1250px) {
  footer {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 56px;
  }

  .footerMessage {
    font-size: 14px;
  }

  .colorNavMenuFooter {
    font-size: 16px;
  }

  .logoMenuSocialContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .navMenuFooter {
    display: flex;
    gap: 40px;
    order: 2;
    padding: 0;
  }

  .logoLojinhaFooter {
    display: flex;
    order: 1;
  }
  .socicalMediaLogosFooter {
    order: 3;
  }
}
