* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

p,
textarea {
  font-family: 'Montserrat', sans-serif;
}

main {
  min-height: 80vh;
}

#root main:not(#mainHome) {
  padding: 67px 30px;
}
@media screen and (min-width: 834px) {
  #root main:not(#mainHome) {
    padding: 100px 60px;
  }
}
@media screen and (min-width: 1250px) {
  #root main:not(#mainHome) {
    padding: 100px 120px;
  }
}
