#productSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#productSection section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#productSection section .cardProduct {
  flex: 0;
}

@media screen and (min-width: 1250px) {
  #productSection {
    align-items: flex-start;
  }

  #productSection section {
    justify-content: flex-start;
  }
}
