form#formProduto {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 25px;
}
.innerConteinerImgForms {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 290px;
  border: 2px dashed #9d9a95;
  border-radius: 5px;
}
.defaultImageProduct {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.titleFormsH4 {
  font-weight: 500;
  font-size: 14px;
  color: #275845;
}
.titleFormsH3 {
  font-weight: 500;
  font-size: 20px;
  color: #275845;
}

.titleFormsH5 {
  font-weight: 400;
  font-size: 12px;
  color: #53b38d;
}
.descriptionFormsWarningMessage {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.inputTextForms {
  display: flex;
  height: 135px;
}

.inputTextForms {
  width: 100%;
  border: 1px solid #9d9a95;
  border-radius: 4px;
  height: 40px;
}
.inputCategoriesForms {
  display: flex;
  justify-content: space-between;
}
.inputSelectForms {
  border: 1px solid #9d9a95;
  border-radius: 4px;
  width: 145px;
  height: 40px;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../../assets/selectForms.svg');
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 17px;
  padding: 11px 6px;
}

.alignButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.buttonForms {
  cursor: pointer;
  background: #53b38d;
  border-radius: 5px;
  color: #fafafa;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  width: 100%;
  max-width: 320px;
}

.imgForms,
.inputUrlForms,
.innerDivCategories,
.inputPriceForms,
.inputColorForms,
.inputBrandForms,
.inputDescriptionForms,
.inputTitleForms {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.formsContainerLessImg {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.formsContainerLessImg input {
  padding: 13px 10px;
}
.formsContainerLessImg input.invalid {
  border: 1px solid #c20a0a;
}

@media screen and (min-width: 834px) {
  .brandColorFormsContainer {
    display: flex;
    gap: 40px;
    width: 100%;
  }
  .inputColorForms {
    width: 35%;
  }
  .inputBrandForms {
    width: 60%;
  }
  .buttonForms {
    max-width: 400px;
  }
  .inputCategoriesForms,
  .inputPriceForms {
    width: 60%;
  }
  .innerConteinerImgForms {
    width: 290px;
  }
  .imgForms {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .titleFormsH4 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1250px) {
  form#formProduto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 145px;
    align-items: flex-start;
  }
  .innerConteinerImgForms {
    display: flex;
    height: 290px;
  }
  .imgForms {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .formsContainerLessImg {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 50%;
  }
  .titleFormsH5 {
    font-size: 16px;
  }
}
